<!doctype html>
<html>
    <head>
        <title>NoSeen Options</title>
        <link rel="stylesheet" type="text/css" href="styles_options.css">
    </head>

    <body>    
        <div class="general_container">
            <div class="container">
                <div class="intro">
                    <object data="../img/logo.svg" type="image/svg+xml" class="im"></object>
                    <h1 class="header">NoSeen Options</h1>
                </div>

                <div class="options">
                    <label><input type="checkbox" id="Online"><span class="oc">Hide last online time feature</span></label>
                
                    <div id="status" class="notif"></div>
                    
                    <button id="save" class="btn">Save</button>

                    <script src="../js/options.js"></script>
                </div>

                
            </div>
        </div>  
    </body>
</html>