<!doctype html>
<html>
    <head>
        <title>NoSeen-extension</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>    
        <div class="frame">
            <div class="container">
                <div class="intro">
                    <object data="../img/logo.svg" type="image/svg+xml" class="im"></object>
                    <h1 class="header">NoSeen</h1>
                </div>

                <div class="line"></div>

                <div class="btn_container">
                    <button id="toggle" class="button">Toggle status : <span id="status"></span></button>
                    <script src="../js/popup.js"></script>
                </div>

                <div class="credits">
                    <h3>v 0.1.19</h3>
                </div>
            </div>
        </div>  
    </body>
</html>

